<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trial Expiry Notification</title>
    <style>
      body {
        margin: 0;
        font-family: 'Red Hat Display', sans-serif;
      }

      .notification-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 40px;
        background-image: url('<%= backgroundImageUrl %>');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .notification-content {
        text-align: center;
        position: relative;
        color: #444445;
      }

      .dfm-logo {
        display: block;
        margin: 0 auto;
        max-width: 200px; /* Adjust size based on the actual logo dimensions */
      }

      .notification-content .title {
        font-weight: 700;
        font-style: bold;
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: 0px;
        margin-bottom: 16px;
      }

      .notification-content .text {
        font-weight: 600;
        font-style: semi-bold;
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0px;
      }

      .bottom-message {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
      }
    </style>
  </head>
  <body>
    <section class="notification-section">
      <div class="notification-content">
        <img class="dfm-logo" src="<%= logoUrl %>" alt="DFM Logo" />
        <div class="bottom-message">
          <div class="title">Hi <%= userName %></div>
          <div class="text">
            Your trial is about to expire in <%= daysLeft %> days
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
